body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

#header {
    background-color: orange;
    width: 100%;
    text-align: center;
    height: 40%;
    line-height: 30px;
}

#menu{
    background-color: #ccc;
    width: 100%;
    text-align: center;
    height: 60px;
}
